.text-box {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(250, 218, 218, 0.1),
        rgba(250, 109, 109, 0.1)),
    url(../img/pay.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}