.section-slideshows {
    background-color: $color-grey-light-2;
    padding: 5rem 0 15rem 0;
}

.section-field {
    margin: 0; 
}

.section-jumbotron {
    background-color: $color-white;
    height: 70rem;
    padding: 4rem;
}

.section-paymentplatform {
    background-color: $color-white;
    height: 40rem;
    padding: 4rem;
}